.modalOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
	backdrop-filter: blur(5px); /* Blur effect for the background */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10; /* Ensures it's above other content */
}

.deleteModal {
	width: 623px;
	height: 222px;
	top: 429px;
	left: 649px;
	border-radius: 20px;
	opacity: 0px;
	background-color: #ffffff;
	box-shadow: 5px 5px 12px 0px #02152614;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	z-index: 10;
}

.deleteModal h4 {
	font-family: 'FiraGO', sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	color: #2d3648;
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 103px;
	height: 47px;
	gap: 16px;
}

.cancelBtn,
.acceptBtn {
	width: 230px;
	height: 47px;
	border-radius: 10px;
	padding: 10px 16px;
	gap: 2px;
	border: none;
	color: #fff;
	font-size: 16px;
	line-height: 19.2px;
	text-align: center;
}

.acceptBtn {
	background-color: #f93b1d;
}

.cancelBtn {
	color: #f93b1d;
	background-color: #fff;
	border: 1px solid #f93b1d;
}

.acceptBtn:active {
	background: #df3014;
}

.cancelBtn:active {
	background: #f93b1d;
	border: 1px solid #f93b1d;
	color: #fff;
}
