.modal {
	width: 382px;
	height: 372px;
	top: 234px;
	left: 306px;
	padding: 24px;
	gap: 32px;
	border-radius: 10px;
	border: 1px solid #dbdbdb;
}

.area {
	width: 382px;
	height: 372px;
	position: absolute;
	top: 50px;
	left: 400px;
	padding: 24px;
	gap: 32px;
	border-radius: 10px;
	border: 1px solid #dbdbdb;
	background-color: #fff;
}

.priceRange {
	width: 382px;
	height: 372px;
	position: absolute;
	top: 50px;
	left: 158px;
	padding: 24px;
	gap: 32px;
	border-radius: 10px;
	border: 1px solid #dbdbdb;
	background-color: #fff;
}

.inputs {
	width: 325px;
	height: 42px;
	gap: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	display: flex;
	justify-content: space-between;
}

.modal h4 {
	font-family: 'FiraGO', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.2px;
	text-align: left;
	color: #021526;
	margin-bottom: 15px;
}

.inputs input {
	width: 155px;
	height: 42px;
	padding: 10px;
	border-radius: 6px;
	border: 1px solid #808a93;
	color: #808a93;
}

.ranges {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	width: 325px;
	height: 150px;
}

.min,
.max {
	display: flex;
	flex-direction: column;
}

.ranges h5 {
	margin-bottom: 5px;
}

.ranges ul {
	list-style: none;

	margin-bottom: 10px;
}

.ranges {
	position: relative;
	width: 100%;
}

.max {
	position: absolute;
	right: 0;
	top: 0;
	width: 155px;
}

.bedroomsContainer {
	width: 300px;
	height: 198px;
	position: absolute;
	top: 50px;
	left: 530px;
	padding: 24px;
	gap: 32px;
	border-radius: 10px;
	border: 1px solid #dbdbdb;
	background-color: #fff;
	box-shadow: 5px 5px 12px 0px #02152614;
}

.bedroomsAmount {
	width: 45px;
	height: 42px;
}

.bedroomsAmount input {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 10px;
	border-radius: 6px;
	border: 1px solid #808a93;
	color: #808a93;
	text-align: center;
	margin-top: 30px;
}
.bedroomBtn {
	display: flex;
	justify-content: flex-end;
	width: 334px;
	height: 33px;
}

.bedroomChooseBtn {
	position: relative;
	right: 100px;
	top: 65px;
	width: 77px;
	height: 33px;
	border-radius: 10px;
	padding: 10px 16px;
	border: none;
	font-size: 14px;
	line-height: 16.8px;
	text-align: center;
	background-color: #f93b1d;
	color: #fff;
}

.bedroomChooseBtn:active {
	background-color: #df3014;
}

.button {
	display: flex;
	justify-content: flex-end;
	width: 334px;
	height: 33px;
}

.chooseBtn {
	width: 77px;
	height: 33px;
	border-radius: 10px;
	padding: 10px 16px;
	border: none;
	font-size: 14px;
	line-height: 16.8px;
	text-align: center;
	background-color: #f93b1d;
	color: #fff;
}

.chooseBtn:active {
	background-color: #df3014;
}

.errorInput {
	border: 1px solid #f93b1d;
}

.errorMessage {
	font-family: 'FiraGO', sans-serif;
	color: #f93b1d;
	font-size: 12px;
	font-weight: 400;
	line-height: 14.4px;
	margin-top: 5px; /* Adjust as needed */
}
